#Main {
  text-align: center;
  background-color: #000000;
  overflow: hidden;
  height: 100vh;
}

#mainMap {
  background-color: #000000;
  overflow: hidden;
  height: 100vh;
}

#planetInfo {
  background-color: #333333;
  position: relative;
  width: 100vw;
  height: 15vh;
  overflow: hidden;
}

#planetName,
#planetTech,
#planetLoc,
#planetDist {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 3vh;
  position: relative;
  top: 1vh;
  left: 1vw;
}

#travelTo {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vh;
  position: absolute;
  top: 0vh;
  right: 0vw;
  height: 15vh;
  width: 20vw;
}

#travelTo:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}

#stars {
  animation: starsMove infinite 25s linear;
  background-image: url(./resources/stars.png);
  background-size: 200vw;
  height: 100vh;
}

#mapBack {
  background-image: url(./resources/mapBack.png);
  background-size: 100vw;
  height: 85vh;
}

#spaceship {
  animation: moveUpDown infinite 5s ease-in-out;
  height: 40vh;
}

#Welcome-header {
  font-family: 'Press Start 2P', cursive;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#Attributes-header {
  font-family: 'Press Start 2P', cursive;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#startButton, 
#initailizeGame {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  position: relative;
  top: 50vh;
  left: 20vw;
  color: #400080;
}

#name {
  font-family: 'Press Start 2P', cursive;
  font-size: 5vh;
  width: 60vw;
  left: 5vw;
  position: relative;
  bottom: 3vh;
}

#easyButton,
#mediumButton,
#hardButton {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  position: relative;
  right: 25vw;
  margin: 1vh;
}

#easyButton:focus-visible,
#mediumButton:focus-visible,
#hardButton:focus-visible {
  background-color: #b8b8b8;
}

#totalPoints {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  position: relative;
  right: 25vw;
  margin: 3vh;
  top: 5vh;
  color: white;
}

#submitButton {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  position: relative;
  top: 10vh;
  left: 15vh;
  color: #400080;
}

#initializeGame {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  position: relative;
  top: 1vh;
  color: #400080;
}

#Attribute-Table {
  font-family: 'Press Start 2P', cursive;
  color: white;
  width: 50vw;
  height: 40vh;
  align-self: center;
  position: relative;
  bottom: 40vh;
  right: 5vh;
  border-collapse: collapse;
  border: 1px solid white;
}

tr,
th,
td {
  font-family: 'Press Start 2P', cursive;
  color: white;
  width: 6vw;
  height: 12vh;
  align-self: center;
  border-collapse: collapse;
  border: 1px solid white;
  margin: 10px;
}

#pskill,
#fskill,
#mskill,
#eskill {
  width: 5vw;
}

#statsDifficulty,
#pLevel,
#fLevel,
#mLevel,
#eLevel,
#credits {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: white;
}

.circle {
  background-color: #003399;
  font-family: 'Press Start 2P', cursive;
  text-indent: 2vw;
  color: white;
  border: none;
  position: absolute;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 0;
}

.circle:hover {
  background-color: #003366;
  cursor: pointer;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px)
  }
}

@keyframes starsMove {
  0% {
    background-position: 100vw 0;
  }

  100% {
    background-position: -100vw 0;
  }
}