@import "./App.css";

#encounter {
  display: flex;
  height: 60vh;
  width: 80vw;
  align-self: center;
  align-content: space-around;
}

#button_format {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vh;
}

#encounter_image {
  animation: moveUpDown infinite 5s ease-in-out;
  height: 40vh;
  animation-delay: 1s;
}