@import "./App.css";

#Hi-header {
  font-family: 'Press Start 2P', cursive;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#statsDifficulty,
#pLevel,
#fLevel,
#mLevel,
#eLevel,
#credits {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: white;
}

#initializeGame {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  position: relative;
  top: 1vh;
  color: #400080;
}