@import "App.css";

#Region-header {
    font-family: 'Press Start 2P', cursive;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#mapButton {
    font-family: 'Press Start 2P', cursive;
    font-size: 8vh;
    position: relative;
    top: 8vh;
    left: 20vw;
    color: #400080;
}

#table {
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 50vw;
    height: 40vh;
    justify-content: right;
    position: relative;
    border-collapse: collapse;
    border: 1px solid white;
}

.MarkTh,
.MarkTd,
.MarkTr {
    height: 4vh;
    border: 1px solid white;
}