@import "App.css";

#Region-header {
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    padding-top: 0.2vh;
}

#banner {
    height: 15vh;
    background-color: grey;
    margin-bottom: 10vh;
}

#mapButton {
    font-family: 'Press Start 2P', cursive;
    font-size: 8vh;
    position: relative;
    top: 8vh;
    left: 20vw;
    color: #400080;
}

#table {
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 50vw;
    height: 40vh;
    justify-content: right;
    position: relative;
    border-collapse: collapse;
    border: 1px solid white;
}

#spaceship-static {
    height: 10vh;
    transform: rotate(-90deg);
}

#pixelFont {
    font-family: 'Press Start 2P', cursive;
    font-size: 4vh;
}

.MarkTh,
.MarkTd,
.MarkTr {
    height: 4vh;
    border: 1px solid white;
}